extends ./../layout
block body

  .row
    .col-sm-12
      .page-header
        h1 User profile
        a(href="/logout").btn.btn-default Logout
      
      
  .row    
    
    .col-sm-6
      
      h2 Your details
      
      .panel.panel-default
        .panel-heading
          h3.panel-title Email and password
        .panel-body
          if user.local.email
            p You have connected an email and password
            a(href="/unlink/local").btn.btn-default Remove
          else
            p You have not connected an email and password
            a(href="/connect/local").btn.btn-default Add email and password
        

    .col-sm-6
      
      h2 Social accounts
      
      .panel.panel-primary
        .panel-heading
          h3.panel-title Facebook connect
        .panel-body
          if user.facebook.token
            p You have connected a facebook account
            a(href="/unlink/facebook").btn.btn-primary Unlink
          else
            p You have not connected a facebook account
            a(href="/connect/facebook").btn.btn-primary Connect facebook
        

      .panel.panel-info
        .panel-heading
          h3.panel-title Twitter connect
        .panel-body
          if user.twitter.token
            p You have connected a twitter account
            a(href="/unlink/twitter").btn.btn-info Unlink
          else
            p You have not connected a twitter account
            a(href="/connect/twitter").btn.btn-info Connect twitter
        
        
      .panel.panel-danger
        .panel-heading
          h3.panel-title Google connect
        .panel-body
          if user.twitter.token
            p You have connected a google account
            a(href="/unlink/google").btn.btn-danger Unlink
          else
            p You have not connected a google account
            a(href="/connect/google").btn.btn-danger Connect google
