extend ./../layout
block body
  h1 Payment invoice
  
  table.table.table-bordered.table-condensed
    tbody
      tr
        th.active Payment ID
        th.active Date
      tr
        td= paymentDate.getTime()
        td= dateformat(paymentDate, "mediumDate")
      tr
        th.active Bill ref
        th.active Paid by
      tr
        td: a(href="/" + C.ROUTES.bills + bill._id)
          = bill.name || ""
          = bill.name && bill.vendor ? " / " : ""
          = bill.vendor || ""
        td
          = bill.owner.name || bill.owner._id
          = bill.owner.equals(activeUser) ? " (that's you)" : ""
        
  p.lead #[strong Amount due:] £#{bill.amount}
