extends ./layout
block body
  
  .col-sm-12
    .page-header
      h1 Connect local
      
  .col-sm-12

    h2 Connect a username and password to your account

    if signupMessage.length
      div(role="alert").alert.alert-danger=signupMessage

    form(method="POST", action="/connect/local")
      .form-group
        label(for="connect-email").control-label Email address
        input(id="connect-email", type="text", name="email", placeholder="Email address").form-control
      .form-group
        label(for="connect-password").control-label Password
        input(id="connect-password", type="password", name="password", placeholder="Password").form-control
      .btn-toolbar
        .btn-group
          button(name="authtype", type="submit", value="connect").btn.btn-default Connect
