extends ./../layout
block body
  h1 Bills

  if bills.length
    div.btn-group
      a(href="/" + C.ROUTES.bills + C.ROUTE_SUFFIXES.add).btn.btn-default #[i.glyphicon.glyphicon-plus] Add new 
    div.list-group
      each bill in bills
        a(href="/bills/#{bill._id}").list-group-item
          = bill.amount ? "£" + bill.amount + " / " : ""
          = bill.vendor ? bill.vendor + " / " : ""
          = bill.name ? bill.name + " / " : ""
          = bill.rrule.dtstart ? dateformat(bill.rrule.dtstart, "mediumDate") : ""
  else
    .alert.alert-info 
      p You haven't added any bills
      strong: a(href="/" + C.ROUTES.bills + C.ROUTE_SUFFIXES.add) Click here to add one
